<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ygba.youthgobudget">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".local_government.LocalGovernmentActivity" />
        <activity
            android:name=".budget_information.BudgetInformationActivity"
            android:label="Budget Information"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".water_and_environment.WaterEnvironmentActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".social_development.SocialDevelopmentListActivity" />
        <activity
            android:name=".dialogs.DatePickerActivity"
            android:label="Pick Date"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <activity
            android:name=".social_development.SocialDevelopmentActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".education.EducationActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".health.HealthActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".agriculture.AgricultureActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>